{% extends 'base.html' %} {% block content %} {% load static %}
    <div class="container mt-4">
        <h2>Incoming Letters</h2>
        <a class="btn btn-primary mb-2" href="{% url 'incoming_letter_create' %}">Add Incoming Letter</a>

        <table id="incoming-letters" class="table table-striped">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>عنوان نامه</th>
                    <th>صاحبان نامه</th>
                    <th>تاریخ نامه وارده</th>
                    <th>فایل ورد نامه</th>
                    <th>تصویر نامه</th>
                </tr>
            </thead>
            <tbody>
                {% for letter in letters %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ letter.subject }}</td>
                    <td>{{ letter.category }}</td>
                    <td>{{ OutgoingLetter.received_date }}</td>
                    <td>{{ letter. }}</td>
                    <td> 
                        <button class="btn btn-success btn-sm download-btn" data-letter-id="{{ letter.pk }}">دریافت فایل pdf</button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm download-btn" data-letter-id="{{ letter.pk }}">دریافت فایل</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No incoming letters available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}